<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @add_on_service, partial: "card", as: :add_on_service %>
  </div>
</div>

  <!-- Show Page Customization starts -->
  <!-- Show Page Customization end -->
