<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Chats

    <a data-toggle="collapse" href="#user_chats_new_form">
      Add chat
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.chats.each do |chat| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to chat, chat %>
        <!-- Show link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="user_chats_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
