<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Providers
  </div>

  <ul class="list-group list-group-flush">
    <% @request.providers.each do |provider| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/providers/<%= provider.id %>">
          <%= provider %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
