<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Chats

    <a data-toggle="collapse" href="#gig_chats_new_form">
      Add chat
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @gig.chats.each do |chat| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to chat, chat %>

        <% if current_user == chat.user %>
          <%= link_to chat, method: :delete do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="gig_chats_new_form">
        <%= render partial: "gigs/gig_chats_new_form" %>
      </div>
    </div>

  </ul>
</div>
