<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Chats

    <a data-toggle="collapse" href="#gig_chats_new_form">
      Add chat
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @gig.chats.each do |chat| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to chat, chat %>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%= link_to chat, method: :delete, data: { confirm: "Do you really want to delete this chat" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="gig_chats_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "gigs/gig_chats_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
